<ul class="flex h-screen flex items-center justify-center">
  <li class="text-center">
    <h1 class="text-3xl font-bold mb-6 ">あなたの好きな作品傾向からあなたにおすすめの作品を提供します</h1>
    <%= link_to '本', books_path, class: 'inline-block px-4 py-2 rounded [background-color:#7fc9d2] text-white' %>
    <%= link_to '漫画', mangas_path, class: 'inline-block px-4 py-2 rounded [background-color:#7fc9d2] text-white' %>
    <%= link_to '映画', movies_path, class: 'inline-block px-4 py-2 rounded [background-color:#7fc9d2] text-white' %>
  </li>
</ul>
