<p>こんにちは <%= @resource.email %>さん</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのEメールが次のように変更されたことをお知らせするために、ご連絡を差し上げました。 <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>あなたのEメールが次のように変更されたことをお知らせするために、ご連絡を差し上げました。 <%= @resource.email %>.</p>
<% end %>
