<p>こんにちは <%= @resource.email %>さん</p>

<p>Yサインインに失敗する回数が多すぎるため、アカウントがロックされました。</p>

<p>以下のリンクをクリックして、アカウントのロックを解除してください：</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
